/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:white;
	--colorbuttons: #39BDC4;
	--colorbuttonsactive:#F4633A;
	--backgroundcoloronderbrekingen: rgb(128,128,128);
	--colorhr: rgb(204,204,204);
	--colorgrey: rgb(240,240,240);
	--colorformborder: rgb(223,223,223);
	--colorgrid: rgb(248, 248, 248);
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */









body {
	color:var(--color-text);
	background-color:var(--color-background);
	margin: 0;
	padding: 0;
	font-family: 'Sarabun', sans-serif;
  }
  
  header{
	  background-color: #F4633A;
	  width: 100%;
	  height: 3em;
	  display: flex;
	  align-items: center;
	  position: sticky;
	  top:0;
	  z-index: 200;
  }
  
  header nav {
	  position:fixed;
	  inset:0;
	  transform:translateX(-100%);
	  transition:1s;
	  background-color: white;
	  margin-top: 3em;
	  bottom: 50%;
  }
  
  header nav.open {
	  transform:translateX(0%);
  }
  
  nav ul {
	  margin: 0;
	  z-index: 50;
	  list-style: none;
  }
  
  header button {
	  color: white;
	  background-color: transparent;
	  border: 1px solid white;
	  border-radius: 0.3em;
	  font-size: 1.1em;
	  margin-left: 1em;
	  padding: 0.3em;
	  position: relative;
	  z-index:200;
  }
  
  header button:active{
	  background-color: var(--color-background)
  }
  
  header nav a{
	  text-decoration:none;
	  color: black;
	  display: block;
	  padding: 1em;
  }

  header nav a:hover{
	color: var(--colorbuttonsactive);
}

header nav a:active{
	color: var(--colorbuttonsactive);
}
  
  
  
  
  /*Russell heeft mij geholpen met het positioneren van de header icons */
  header section:nth-of-type(1){
	  display: flex;
	  align-items: center;
	  width: 100%;
	  justify-content: space-between;
	  padding: 1em;
  }
  
  header section a img{
	  width: 5em;
	  display: flex;
	  justify-self: center;
  }
  
  header section ul{
	  display: flex;
	  align-items: center;
  }

  header section ul li{
	text-decoration: none;
	list-style: none;
}
  
  header section ul li a img:nth-child(1){
	  width: 2em;
	  right: 4em;
  }
  
  header section ul li a img:nth-child(2){
	  width: 4em;
	  right: 1em;
  }







/* Hou dat vakantie gevoel vast */

main section:first-child {
	text-align: center;
	display: grid;
	justify-items: center;
}

main section:first-child p {
	margin-bottom: 2.3em;
	font-family: 'Sarabun', sans-serif;
}

main section:first-child img {
	width: 100%;
	order: -1;
}

main section:first-child a {
	text-decoration: none;
	color: var(--color-background);
	background-color: var(	--colorbuttons);
	padding: 0.6em 1.5em 0.6em 1.5em;
	border-radius: 1.5em;
}

main section:first-child a:active {
	background-color: var(--colorbuttonsactive);
}











/* Iconen garantie, klantenservice en tevreden klanten */

main ul:nth-of-type(1) li {
	display: flex;
	flex-direction: row-reverse;
	justify-content: start;
	align-items: center;
	gap:1em;

}

main ul:nth-of-type(1) li img {
	width: 2.5em;
}

main ul:nth-of-type(1) li h2 {
	font-size: 1.4em;
}














/* Regel 227 t/m 292 Sanne 't Hooft mij mee geholpen.
Gaat om de twee plaatjes met groot 20% erop. */
main ul:nth-of-type(2) {
	padding: 0;
}

main ul:nth-of-type(2) li {
	position: relative;
	list-style: none;
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 3fr 2fr min-content;
}

main ul:nth-of-type(2) li:first-child {
	margin-bottom: .8em;
}

main ul:nth-of-type(2) li:nth-child(2) {
	margin-bottom: 1.2em;
}

main ul:nth-of-type(2) li h2 {
	white-space: pre-line;
	text-align: center;
	font-size: 150%;
	grid-row-start: 2;
	grid-column-start: 2;
	z-index: 100;
	margin: 0;
	justify-self: center;
	align-self: start;
}

main ul:nth-of-type(2) li h3 {
	font-size: 300%;
	grid-row-start: 1;
	grid-column-start: 2;
	z-index: 100;
	margin: 0;
	justify-self: center;
	align-self: end;
}

main ul:nth-of-type(2) li img {
	width: 100%;
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 3;
	display: block;
}

main ul:nth-of-type(2) li a {
	text-decoration: none;
	color: var(--color-text);
	font-weight: 600;
	grid-row-start: 3;
	grid-column-start: 2;
	justify-self: end;
	margin-right: 1em;
	margin-bottom: .5em;
}

main ul:nth-of-type(2) li a:active{
	color: var(--colorbuttonsactive)
}






/* Smart assisitant */

main section:nth-of-type(2) img {
	width: 100%;
}

main section:nth-of-type(2) h2 {
	order: 1;
	margin-left: .5em;
	margin-right: .5em;
}

main section:nth-of-type(2) {
	text-align: center;
	display: grid;
	justify-items: center;
}

main section:nth-of-type(2) a:nth-of-type(1) {
	text-decoration: none;
	color: var(--color-background);
	background-color: var(	--colorbuttons);
	padding: 0.6em 1.5em 0.6em 1.5em;
	border-radius: 1.5em;
	font-weight: 600;
	order: 1;
	margin-bottom: 0.5em;
}

main section:nth-of-type(2) a:nth-of-type(1):active {
	background-color: var(--colorbuttonsactive);
}

main section:nth-of-type(2) a:nth-of-type(2) {
	text-decoration: none;
	color: var(--color-text);
	font-weight: 600;
	border-bottom:.2em solid var(--colorbuttons);
	order: 1;
	margin-bottom: 1.2em;
}

main section:nth-of-type(2) a:nth-of-type(2):active{
	border-bottom:.2em solid var(--colorbuttonsactive);
}







/*Yara Prins heeft een deel van deze css geschreven, de echte vormgeving heb ik gedaan. 
Ik snap wat zij heeft gedaan. Gaat over de 6 blokken. */

main ul:nth-of-type(3) {
	position: relative;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0;
	gap: 1em;
	margin-left: .5em;
	margin-right: .5em;
	margin-bottom: 4em;
}

main ul:nth-of-type(3) li {
	display: grid;
	background-color: var(--colorgrid);
	padding-bottom: 1em;
}

main ul:nth-of-type(3) li a {
	font-size: 1.3em;
	margin-top: .5em;
	margin-left: .3em;
	text-decoration: none;
	color: var(--color-text);
	font-weight: 700;
	margin-bottom: .7em;
}

main ul:nth-of-type(3) li a:active {
	color: var(--colorbuttonsactive);
}

main ul:nth-of-type(3) li h3 {
	font-size: 1.3em;
	margin-left: .3em;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
}

main ul:nth-of-type(3) li h4,
main ul:nth-of-type(3) li p {
	font-size: 1.3em;
	margin-left: .3em;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 300;
}

main ul:nth-of-type(3) li p{
	color: var(--backgroundcoloronderbrekingen);
	font-size: 1em;
	text-decoration: line-through;
}


main ul:nth-of-type(3) li img {
	width: 100%;
	order: -1;
} 

main ul:nth-of-type(3) div {
	display: flex;
	align-items: center;
} 


main ul:nth-of-type(3) div p:nth-of-type(1) {
	color: var(--colorbuttonsactive);
	font-weight: 600;
	font-size: 1.3em;
	text-decoration: none;
}

main ul:nth-of-type(3) div p:nth-of-type(2) {
	color: var(--colorbuttonsactive);
	font-weight: 400;
	font-size: 1.1em;
	border: solid 2px var(--colorbuttonsactive);
	padding: .2em;
	text-decoration: none;
}





 









/* Carousel */

main ul:nth-of-type(4) {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	overflow-x: auto;

}

main ul:nth-of-type(4) li{
	flex-shrink: 0;
	width: 100%;
	height: 50%;
	margin-left: 1em;
}

main ul:nth-of-type(4) h2{
	margin-top:0;
	font-size: 1.2em;
}

main ul:nth-of-type(4) li:nth-of-type(1) img,
main ul:nth-of-type(4) li:nth-of-type(2) img, 
main ul:nth-of-type(4) li:nth-of-type(3) img{
	width: 1.5em;
	margin-bottom: 0.8em;
}

main ul:nth-of-type(4) li:nth-of-type(1) p, 
main ul:nth-of-type(4) li:nth-of-type(2) p, 
main ul:nth-of-type(4) li:nth-of-type(3) p{
	width: 100%;
	margin: 0;
	font-size: 1.2em;
	padding-right: 1em;
}

main ul:nth-of-type(4) li:nth-of-type(1) p:nth-of-type(1), 
main ul:nth-of-type(4) li:nth-of-type(2) p:nth-of-type(1), 
main ul:nth-of-type(4) li:nth-of-type(3) p:nth-of-type(1){
	margin-bottom: 1.5em;
}

main ul:nth-of-type(4) li:nth-of-type(1) p:nth-of-type(2), 
main ul:nth-of-type(4) li:nth-of-type(2) p:nth-of-type(2), 
main ul:nth-of-type(4) li:nth-of-type(3) p:nth-of-type(2){
	margin-bottom: 1.5em;
}











/* Waaromm mensen van albelli houden */

main section:nth-of-type(3)  {
	margin-left: 1.3em;
}

main section:nth-of-type(3) h2  {
	font-size: 1.3em;
}

main section:nth-of-type(3) div {
	display: flex;
	align-items: center;
}

main section:nth-of-type(3) div img {
	width: 1.5em;
	margin: .1em;
}

main section:nth-of-type(3) div p  {
	font-size: 1em;
	
}

main section:nth-of-type(3) div p:nth-of-type(1)  {
	font-weight: 500;
	margin-left: .5em;
	margin-right: .3em;
}

main section:nth-of-type(3) div a  {
	font-weight: 500;
	text-decoration: underline;
	color: var(--color-text);
	margin-left: .4em;
}

main section:nth-of-type(3) div a:active  {
	color: var(--colorbuttonsactive);
}

main hr{
	color: var(--colorhr);
	background-color: var(--colorhr);
	height: .07em;
	border: none;
	margin-left: 1.3em;
	margin-right: 1.3em;
	margin-bottom: 3em;
	margin-top: 1em;
}



















/* Form inschrijven */

main section:nth-of-type(4)  {
	background-color: var(--colorgrey);
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 2.5em;
}

main section:nth-of-type(4) h2{
	font-size: 1.1em;
}

main section:nth-of-type(4) h2, form{
	margin-left: 1.3em;
	margin-right: 1.3em;
}

main form{
	display: flex;
	flex-direction: column;
}

main form input{
	padding: 1em;
	border: 0.1em solid var(--colorformborder);
	margin-bottom: 1.5em;
	font-family: 'Sarabun', sans-serif;
	font-size: 1em;
}

main form button{
	color: var(--colorbuttons);
	font-family: 'Sarabun', sans-serif;
	background-color: transparent;
	border: 0.15em solid var(--colorbuttons);
	border-radius: 2em;
	text-align: center;
	padding: .5em;
	font-weight: 600;
	font-size: 1.1em;
}

main form button:active{
	color: var(--colorbuttonsactive);
	border: 0.15em solid var(--colorbuttonsactive);
}












footer{
	display: grid;
	grid-template-columns: 50% 50%;
}

footer ul:nth-of-type(1), 
footer ul:nth-of-type(2), 
footer ul:nth-of-type(3), 
footer ul:nth-of-type(4), 
footer ul:nth-of-type(5), 
footer ul:nth-of-type(6), 
footer ul:nth-of-type(7), 
footer ul:nth-of-type(8){
	padding: 0;
}

footer ul:nth-of-type(1) li h2, 
footer ul:nth-of-type(2) li h2, 
footer ul:nth-of-type(3) li h2, 
footer ul:nth-of-type(4) li h2, 
footer ul:nth-of-type(5) li h2, 
footer ul:nth-of-type(6) li h2, 
footer ul:nth-of-type(7) li h2, 
footer ul:nth-of-type(8) li h2{
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 1.3em;
	display: block;
}

footer ul:nth-of-type(1) li:nth-of-type(2), 
footer ul:nth-of-type(2) li:nth-of-type(2), 
footer ul:nth-of-type(3) li:nth-of-type(2), 
footer ul:nth-of-type(4) li:nth-of-type(2), 
footer ul:nth-of-type(5) li:nth-of-type(2), 
footer ul:nth-of-type(6) li:nth-of-type(2), 
footer ul:nth-of-type(7) li:nth-of-type(2), 
footer ul:nth-of-type(8) li:nth-of-type(2){
	color: var(--colorhr);
	background-color: var(--colorhr);
	height: .07em;
	border: none;
	margin-left: 2em;
	margin-bottom: 1em;
	margin-right: 2em;
}


footer ul:nth-of-type(1) li, 
footer ul:nth-of-type(2) li, 
footer ul:nth-of-type(3) li, 
footer ul:nth-of-type(4) li, 
footer ul:nth-of-type(5) li, 
footer ul:nth-of-type(6) li, 
footer ul:nth-of-type(7) li, 
footer ul:nth-of-type(8) li {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	list-style: none;
	align-items: flex-start;
	padding-inline-start: 2em;
	margin-bottom: .8em;
}

footer ul:nth-of-type(1) li, 
footer ul:nth-of-type(2) li, 
footer ul:nth-of-type(3) li, 
footer ul:nth-of-type(4) li, 
footer ul:nth-of-type(5) li, 
footer ul:nth-of-type(6) li, 
footer ul:nth-of-type(7) li, 
footer ul:nth-of-type(8) li {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	list-style: none;
	align-items: flex-start;
	padding-inline-start: 2em;
	margin-bottom: .8em;
}

footer ul:nth-of-type(1) a, 
footer ul:nth-of-type(2) a, 
footer ul:nth-of-type(3) a, 
footer ul:nth-of-type(4) a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	list-style: none;
	align-items: flex-start;
	color: var(--color-text);
}

footer ul:nth-of-type(1)  a:active, 
footer ul:nth-of-type(2)  a:active, 
footer ul:nth-of-type(3)  a:active, 
footer ul:nth-of-type(4)  a:active {
	color: var(--colorbuttonsactive);
}

footer ul:nth-of-type(5) a img{
	width: 45%;
}

footer ul:nth-of-type(6) a img{
	width: 70%;
}

footer ul:nth-of-type(7) a img{
	width: 30%;
}

footer ul:nth-of-type(8) a img{
	width: 80%;
}





footer ul:nth-of-type(9){
	list-style: none;
	background-color: var(--colorgrey);
	width: 100%;
	margin: 0;
}

footer ul:nth-of-type(9) li{
	margin-bottom: 1em;
}

footer ul:nth-of-type(9) li a{
	text-decoration: none;
	color: var(--color-text);
}

footer ul:nth-of-type(9) li a:active{
	color: var(--colorbuttonsactive);
}
	
footer ul:nth-of-type(9) li a img{
	width: 20%;
}



footer ul:nth-of-type(10){
	list-style: none;
	background-color: var(--colorgrey);
	width: 100%;
	margin: 0;
}


























