/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:white;
	--colorbuttons: #39BDC4;

}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */









body {
  color:var(--color-text);
  background-color:var(--color-background);
  margin: 0;
  padding: 0;
  font-family: 'Sarabun', sans-serif;
}

header{
	background-color: #F4633A;
	width: 100%;
	height: 3em;
	display: flex;
	align-items: center;
	position: sticky;
	top:0;
	z-index: 200;
}

header nav {
	position:fixed;
	inset:0;
	transform:translateX(-100%);
	transition:1s;
	background-color: white;
	margin-top: 3em;
	bottom: 50%;
}

header nav.open {
	transform:translateX(0%);
}

nav ul {
	margin: 0;
	z-index: 50;
	list-style: none;
}

header button {
	color: white;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 0.3em;
	font-size: 1.1em;
	margin-left: 1em;
	padding: 0.3em;
	position: relative;
	z-index:200;
}

header nav a{
	text-decoration:none;
	color: black;
	display: block;
	padding: 1em;
}










section:first-child {
	text-align: center;
	display: grid;
	justify-items: center;
}

section:first-child p {
	margin-bottom: 2.3em;
	font-family: 'Sarabun', sans-serif;
}

section:first-child img {
	width: 100%;
	order: -1;
}

section:first-child a {
	text-decoration: none;
	color: white;
	background-color: var(	--colorbuttons);
	padding: 0.6em 1.5em 0.6em 1.5em;
	border-radius: 1.5em;
}











/*
ul:nth-of-type(1) li {
	display: flex;
	align-items: center;
	margin-top: 1em;
}

ul:nth-of-type(1) li img {
	width: 2.5em;
	margin-left: 1.3em;
	margin-right: 1em;
}

ul:nth-of-type(1) li h2 {
	font-size: 1.4em;
}

*/

ul:nth-of-type(1) li {
	display: flex;
	flex-direction: row-reverse;
	justify-content: start;
	align-items: center;
	gap:1em;

}

ul:nth-of-type(1) li img {
	width: 2.5em;
}

ul:nth-of-type(1) li h2 {
	font-size: 1.4em;
}














/* Regel 290 t/m 339 Sanne 't Hooft mij mee geholpen */
ul:nth-of-type(2) {
	padding: 0;
}

ul:nth-of-type(2) li {
	position: relative;
	list-style: none;
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 3fr 2fr min-content;
}

ul:nth-of-type(2) li:first-child {
	margin-bottom: .8em;
}

ul:nth-of-type(2) li:nth-child(2) {
	margin-bottom: 1.2em;
}

ul:nth-of-type(2) li h2 {
	white-space: pre-line;
	text-align: center;
	font-size: 150%;
	grid-row-start: 2;
	grid-column-start: 2;
	z-index: 100;
	margin: 0;
	justify-self: center;
	align-self: start;
}

ul:nth-of-type(2) li h3 {
	font-size: 300%;
	grid-row-start: 1;
	grid-column-start: 2;
	z-index: 100;
	margin: 0;
	justify-self: center;
	align-self: end;
}

ul:nth-of-type(2) li img {
	width: 100%;
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 3;
	display: block;
}

ul:nth-of-type(2) li a {
	text-decoration: none;
	color: black;
	font-weight: 600;
	grid-row-start: 3;
	grid-column-start: 2;
	justify-self: end;
	margin-right: 1em;
	margin-bottom: .5em;
}










section:nth-of-type(2) img {
	width: 100%;
}

section:nth-of-type(2) h2 {
	order: 1;
}

section:nth-of-type(2) {
	text-align: center;
	display: grid;
	justify-items: center;
}

section:nth-of-type(2) a:nth-of-type(1) {
	text-decoration: none;
	color: white;
	background-color: var(	--colorbuttons);
	padding: 0.6em 1.5em 0.6em 1.5em;
	border-radius: 1.5em;
	font-weight: 600;
	order: 1;
}

section:nth-of-type(2) a:nth-of-type(2) {
	text-decoration: none;
	color: black;
	font-weight: 600;
	border-bottom:.2em solid #39BDC4;
	order: 1;
}











ul:nth-of-type(3) {
	position: relative;
	list-style: none;
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 0;
	gap: 1em;
}

ul:nth-of-type(3) li:nth-of-type(1) {
	display: grid;
}

ul:nth-of-type(3) li:nth-of-type(1) h2 {
	font-size: 1.3em;
	margin-top: .5em;
	margin-left: .3em;
}

ul:nth-of-type(3) li:nth-of-type(1) h3 {
	font-size: 1.3em;
	margin-left: .3em;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
}

ul:nth-of-type(3) li:nth-of-type(1) p {
	font-size: 1.3em;
	margin-left: .3em;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 300;
	
}

ul:nth-of-type(3) li:nth-of-type(1) img {
	width: 100%;
	order: -1;
}





ul:nth-of-type(3) li:nth-of-type(2) img {
	width: 100%
}

ul:nth-of-type(3) li:nth-of-type(3) img {
	width: 100%;
}

ul:nth-of-type(3) li:nth-of-type(4) img {
	width: 100%
}

ul:nth-of-type(3) li:nth-of-type(5) img {
	width: 100%;
}

ul:nth-of-type(3) li:nth-of-type(6) img {
	width: 100%
}

























