/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:white;
	--colorbuttons: #39BDC4;
	--colorbuttonsactive:#F4633A;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */









body {
  color:var(--color-text);
  background-color:var(--color-background);
  margin: 0;
  padding: 0;
  font-family: 'Sarabun', sans-serif;
}

header{
	background-color: #F4633A;
	width: 100%;
	height: 3em;
	display: flex;
	align-items: center;
	position: sticky;
	top:0;
	z-index: 200;
}

header nav {
	position:fixed;
	inset:0;
	transform:translateX(-100%);
	transition:1s;
	background-color: white;
	margin-top: 3em;
	bottom: 50%;
}

header nav.open {
	transform:translateX(0%);
}

nav ul {
	margin: 0;
	z-index: 50;
	list-style: none;
}

header button {
	color: white;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 0.3em;
	font-size: 1.1em;
	margin-left: 1em;
	padding: 0.3em;
	position: relative;
	z-index:200;
}

header button:active{
	background-color: var(--color-background)
}

header nav a{
	text-decoration:none;
	color: black;
	display: block;
	padding: 1em;
}










main section:first-child {
	text-align: center;
	display: grid;
	justify-items: center;
}

main section:first-child p {
	margin-bottom: 2.3em;
	font-family: 'Sarabun', sans-serif;
}

main section:first-child img {
	width: 100%;
	order: -1;
}

main section:first-child a {
	text-decoration: none;
	color: white;
	background-color: var(	--colorbuttons);
	padding: 0.6em 1.5em 0.6em 1.5em;
	border-radius: 1.5em;
}

main section:first-child a:active {
	background-color: var(--colorbuttonsactive);
}











/*
ul:nth-of-type(1) li {
	display: flex;
	align-items: center;
	margin-top: 1em;
}

ul:nth-of-type(1) li img {
	width: 2.5em;
	margin-left: 1.3em;
	margin-right: 1em;
}

ul:nth-of-type(1) li h2 {
	font-size: 1.4em;
}

*/

main ul:nth-of-type(1) li {
	display: flex;
	flex-direction: row-reverse;
	justify-content: start;
	align-items: center;
	gap:1em;

}

main ul:nth-of-type(1) li img {
	width: 2.5em;
}

main ul:nth-of-type(1) li h2 {
	font-size: 1.4em;
}














/* Regel 290 t/m 339 Sanne 't Hooft mij mee geholpen */
main ul:nth-of-type(2) {
	padding: 0;
}

main ul:nth-of-type(2) li {
	position: relative;
	list-style: none;
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 3fr 2fr min-content;
}

main ul:nth-of-type(2) li:first-child {
	margin-bottom: .8em;
}

main ul:nth-of-type(2) li:nth-child(2) {
	margin-bottom: 1.2em;
}

main ul:nth-of-type(2) li h2 {
	white-space: pre-line;
	text-align: center;
	font-size: 150%;
	grid-row-start: 2;
	grid-column-start: 2;
	z-index: 100;
	margin: 0;
	justify-self: center;
	align-self: start;
}

main ul:nth-of-type(2) li h3 {
	font-size: 300%;
	grid-row-start: 1;
	grid-column-start: 2;
	z-index: 100;
	margin: 0;
	justify-self: center;
	align-self: end;
}

main ul:nth-of-type(2) li img {
	width: 100%;
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 3;
	display: block;
}

main ul:nth-of-type(2) li a {
	text-decoration: none;
	color: black;
	font-weight: 600;
	grid-row-start: 3;
	grid-column-start: 2;
	justify-self: end;
	margin-right: 1em;
	margin-bottom: .5em;
}

main ul:nth-of-type(2) li a:active{
	color: var(--colorbuttonsactive)
}








main section:nth-of-type(2) img {
	width: 100%;
}

main section:nth-of-type(2) h2 {
	order: 1;
}

main section:nth-of-type(2) {
	text-align: center;
	display: grid;
	justify-items: center;
}

main section:nth-of-type(2) a:nth-of-type(1) {
	text-decoration: none;
	color: white;
	background-color: var(	--colorbuttons);
	padding: 0.6em 1.5em 0.6em 1.5em;
	border-radius: 1.5em;
	font-weight: 600;
	order: 1;
	margin-bottom: 0.5em;
}

main section:nth-of-type(2) a:nth-of-type(1):active {
	background-color: var(--colorbuttonsactive);
}

main section:nth-of-type(2) a:nth-of-type(2) {
	text-decoration: none;
	color: black;
	font-weight: 600;
	border-bottom:.2em solid #39BDC4;
	order: 1;
	margin-bottom: 1.2em;
}

main section:nth-of-type(2) a:nth-of-type(2):active{
	border-bottom:.2em solid var(--colorbuttonsactive);
}









 

main ul:nth-of-type(3) {
	position: relative;
	list-style: none;
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 0;
	gap: 1em;
	margin-left: 1em;
	margin-bottom: 4em;
}

main ul:nth-of-type(3) li:nth-of-type(1), ul:nth-of-type(3) li:nth-of-type(2), ul:nth-of-type(3) li:nth-of-type(3), ul:nth-of-type(3) li:nth-of-type(4), ul:nth-of-type(3) li:nth-of-type(5), ul:nth-of-type(3) li:nth-of-type(6) {
	display: grid;
}

main ul:nth-of-type(3) li:nth-of-type(1) h2, ul:nth-of-type(3) li:nth-of-type(2) h2, ul:nth-of-type(3) li:nth-of-type(3) h2, ul:nth-of-type(3) li:nth-of-type(4) h2, ul:nth-of-type(3) li:nth-of-type(5) h2, ul:nth-of-type(3) li:nth-of-type(6) h2 {
	font-size: 1.3em;
	margin-top: .5em;
	margin-left: .3em;
}

main ul:nth-of-type(3) li:nth-of-type(1) h3, ul:nth-of-type(3) li:nth-of-type(2) h3, ul:nth-of-type(3) li:nth-of-type(3) h3, ul:nth-of-type(3) li:nth-of-type(4) h3, ul:nth-of-type(3) li:nth-of-type(5) h3, ul:nth-of-type(3) li:nth-of-type(6) h3 {
	font-size: 1.3em;
	margin-left: .3em;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
}

main ul:nth-of-type(3) li:nth-of-type(1) h4, h5, p, ul:nth-of-type(3) li:nth-of-type(2) h4, h5, p, ul:nth-of-type(3) li:nth-of-type(3) h4, h5, p, ul:nth-of-type(3) li:nth-of-type(4) h4, h5, p, ul:nth-of-type(3) li:nth-of-type(5) h4, h5, p, ul:nth-of-type(3) li:nth-of-type(6) h4, h5, p {
	font-size: 1.3em;
	margin-left: .3em;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 300;
}

main ul:nth-of-type(3) li:nth-of-type(1) img, ul:nth-of-type(3) li:nth-of-type(2) img, ul:nth-of-type(3) li:nth-of-type(3) img, ul:nth-of-type(3) li:nth-of-type(4) img, ul:nth-of-type(3) li:nth-of-type(5) img, ul:nth-of-type(3) li:nth-of-type(6) img {
	width: 100%;
	order: -1;
} 

main ul:nth-of-type(3) div{
	display: flex;
} 


















main section:nth-of-type(3)  {
	margin-left: 1.3em;
}

main section:nth-of-type(3) h2  {
	font-size: 1.3em;
}

main section:nth-of-type(3) div {
	display: flex;
	align-items: center;
}

main section:nth-of-type(3) div img {
	width: 1.5em;
	margin: .1em;
}

main section:nth-of-type(3) div p  {
	font-size: 1em;
}

main section:nth-of-type(3) div p:nth-of-type(1)  {
	font-weight: 500;
}

main section:nth-of-type(3) div a  {
	font-weight: 500;
	text-decoration: underline;
	color: black;
	margin-left: .4em;
}

main hr{
	color: #ccc;
	background-color: #ccc;
	height: .07em;
	border: none;
	margin-left: 1.3em;
	margin-right: 1.3em;
	margin-bottom: 3em;
	margin-top: 1em;
}













main section:nth-of-type(4)  {
	background-color: rgb(240, 240, 240);
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 2.5em;
}

main section:nth-of-type(4) h2{
	font-size: 1.1em;
}

main section:nth-of-type(4) h2, form{
	margin-left: 1.3em;
	margin-right: 1.3em;
}

main form{
	display: flex;
	flex-direction: column;
}

main form input{
	padding: 1em;
	border: 0.1em solid rgb(223, 223, 223);
	margin-bottom: 1.5em;
	font-family: 'Sarabun', sans-serif;
	font-size: 1em;
}

main form button{
	color: var(--colorbuttons);
	font-family: 'Sarabun', sans-serif;
	background-color: transparent;
	border: 0.15em solid var(--colorbuttons);
	border-radius: 2em;
	text-align: center;
	padding: .5em;
	font-weight: 600;
	font-size: 1.1em;
}












footer{
	display: grid;
	grid-template-columns: 50% 50%;
}

footer ul:nth-of-type(1){
	padding: 0;
}

footer ul:nth-of-type(1) li h2{
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 1.3em;
	display: block;
}

footer ul:nth-of-type(1) li:nth-of-type(2){
	color: #ccc;
	background-color: #ccc;
	height: .07em;
	border: none;
	margin-left: 2em;
	margin-bottom: 1em;
	margin-right: 2em;
}


footer ul:nth-of-type(1) li {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	list-style: none;
	align-items: flex-start;
	padding-inline-start: 2em;
	margin-bottom: .8em;
}

footer ul:nth-of-type(1) a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	list-style: none;
	align-items: flex-start;
	color: black;
}




/* footer ul:nth-of-type(2){
	padding: 0;
}

footer ul:nth-of-type(2) li {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	padding-inline-start: 2em;
	margin: 0;
}

footer ul:nth-of-type(2) a {
	display: flex;
	flex-direction: column;
	color: black;
	margin: 0;
	text-decoration: none;
}

ul:nth-of-type(2) li:nth-of-type(2){
	margin: 0;
}



footer ul:nth-of-type(3){
	list-style: none;
	padding: 0;
}

footer ul:nth-of-type(3) li {
	padding-inline-start: 2em;
}

footer ul:nth-of-type(3) a {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	color: black;
}





footer ul:nth-of-type(4){
	list-style: none;
	padding: 0;
}

footer ul:nth-of-type(4) li {
	padding-inline-start: 2em;
}

footer ul:nth-of-type(4) a {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	color: black;
}
 */


 footer ul:nth-of-type(2){
	padding: 0;
}

footer ul:nth-of-type(2) li h2{
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 1.3em;
	display: block;
}

footer ul:nth-of-type(2) li:nth-of-type(2){
	color: #ccc;
	background-color: #ccc;
	height: .07em;
	border: none;
	margin-left: 2em;
	margin-bottom: 1em;
	margin-right: 2em;
}


footer ul:nth-of-type(2) li {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	list-style: none;
	align-items: flex-start;
	padding-inline-start: 2em;
	margin-bottom: .8em;
}

footer ul:nth-of-type(2) a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	list-style: none;
	align-items: flex-start;
	color: black;
}









footer ul:nth-of-type(3){
	padding: 0;
}

footer ul:nth-of-type(3) li h2{
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 1.3em;
	display: block;
}

footer ul:nth-of-type(3) li:nth-of-type(2){
	color: #ccc;
	background-color: #ccc;
	height: .07em;
	border: none;
	margin-left: 2em;
	margin-bottom: 1em;
	margin-right: 2em;
}


footer ul:nth-of-type(3) li {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	list-style: none;
	align-items: flex-start;
	padding-inline-start: 2em;
	margin-bottom: .8em;
}

footer ul:nth-of-type(3) a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	list-style: none;
	align-items: flex-start;
	color: black;
}





footer ul:nth-of-type(4){
	padding: 0;
}

footer ul:nth-of-type(4) li h2{
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 1.3em;
	display: block;
}

footer ul:nth-of-type(4) li:nth-of-type(2){
	color: #ccc;
	background-color: #ccc;
	height: .07em;
	border: none;
	margin-left: 2em;
	margin-bottom: 1em;
	margin-right: 2em;
}


footer ul:nth-of-type(4) li {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	list-style: none;
	align-items: flex-start;
	padding-inline-start: 2em;
	margin-bottom: .8em;
}

footer ul:nth-of-type(4) a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	list-style: none;
	align-items: flex-start;
	color: black;
}































